<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <mimeMap fileExtension=".hrc" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".laz" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".las" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".zst" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>